@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400;1,700&family=Poppins:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

*{
     /* outline: 3px solid red;  */
}

:root{
    --padding-container: 80px;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --aling-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0, .2);
    
}
body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* hero section */

.hero{
    --padding-container: 0;
    height: 100vh;
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );

}

.hero__main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero__img{
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero__picture{
    max-width: 80%;
}

.hero__texts{
    width: 45%;
    color: #fff;

}

.hero__title{
    font-size: 4rem;
}

.hero__copy{
    font-size: 1.5rem;
    font-weight: 300;
}

.title{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--aling-title);

}

.about{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.about__img{
    width: 45%;
    text-align: center;
    margin: 0;
}

.about__picture{
    max-width: 80%;

}

.about__texts{
    width: 50%;
    --aling-title: center;
   
}

.about__paragraph{
    line-height: 1.5;

}

.about__cta{
    display: inline-block;
    margin-top: 20px;
    background: var(--color-primary);
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fff;
    text-decoration: none;

}

/* portafolio section  */

.portafolio{
    background: var(--color-bg);

}

.portafolio__cards{
    display: flex;
    width: 100%;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.portafolio__card{
    width: 30%;
    background: #fff;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.portafolio__picture{
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.portafolio__texts{
    padding: 30px 20px 40px;

}

.portafolio__title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secondary);
    margin: 0;
}

.portafolio__paragraph{
    font-weight: 300;
    margin: 30px 0;
}

.portafolio__cta{
    display: block;
    background: var(--color-secondary);
    padding: 15px 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

/* copy section  */

.copy{
    background: var(--color-primary);

}

.copy__texts{
    --color-primary: #fff;
}

.title--margin{
    /* color: #fff; */
    margin: 0;
}

/* section gallery  */

.gallery__container{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.gallery__picture{
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

/* langueges section */

.languages{
    background: var(--color-bg);

}

.languages__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.languages__pictures{
    width: 20%;
    height: 100px;
}

/* footer section */

.footer{
    background: var(--color-primary);
    color: #fff;
    text-align: center;
}

.footer__container {
    --color-primary: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.footer__texts{
    width: 50%;
}

.footer__icon {
    display: inline-block;
    font-size: 2rem;
    margin: 20px 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer__icon.fa-brands{
    line-height: 60px;
}

.footer__icon:hover{
    background: #fff;
    color: #f77062;
    cursor: pointer;
}

.footer__link{
    display: inline-block;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 15px;
}

.footer__link:hover{
    text-decoration: none;
}

.footer__img{
    margin: 0;
    width: 35%;
}

.footer__picture{
    width: 90%;
}

/* diseño responsive */

@media screen and (max-width: 800px){

    .hero{
        height: auto;
        min-height: 100vh;
        --padding-container: 40px 0;
    }

    .hero__main{
        justify-content: center;

    }

    .hero__img{
        width: 60%;
        margin-bottom: 30px;
    }

    .hero__picture{
        min-width: 85%;

    }

    .hero__texts{
        width: 100%;
    }

    .hero__title{
        font-size: 3.5rem;
    }

    /* section about */

    .about__texts{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
        --align--title: center; 
    }

    .about__paragraph{
        text-align: left;
    }

    .about__img{
        width: 100%;
    }
/* section potafolio */

.portafolio__cards{
    width: 90%;
    /* margin: 40px 0; */
}

    .portafolio__card{
        width: 50%;
        /* margin: 40px 0; */
    }

    /* gallery section  */
    .gallery__picture{
        width: 45%;
    }

    /* section languages  */

    .languages__container{
        justify-content: space-between;
    }

    /* footer */

    .footer__container{
        flex-direction: column;
    }

    .footer__img{
        order: -1;
        width: 45%;
        margin-bottom: 30px;
    }

    .footer__picture{
        width: 100%;
    }

    .footer__texts{
        width: 100%;

    }
    
}

@media screen and (max-width: 600px){
    
    .hero__img{
        width: 85%;

    }

    .hero__picture{
        max-width: 100%;
    }

    .hero__title{
        font-size: 3rem;
    }

    .title{
        font-size: 2.5rem;

    }

    .about{
        width: 100%;

    }

    .about__texts{
        width: 100%;
    }

    .portafolio__container{
        width: 100%;
        
    }

    .portafolio__card{
        width: 100%;
        max-width: 300px;
        gap: 30px;
    }

    .portafolio__paragraph{
        margin: 10px;
    }

    .gallery__picture{
        width: 90%;
        max-width: 300px;

    }

    .languages__container{
        justify-content: space-around;
    }

    .languages__picture{
        width: 45%;
        margin-bottom: 30px;

    }

    .footer__img{
        width: 90%;
    }

    .footer__img{
       max-width: 330px;
       margin-bottom: 40px;
    }
    
}



